body{
<<<<<<< HEAD
	background-color:white;
=======
	
>>>>>>> f226a7cd31a2fe376415989558ec6cfde0fdb155
	background-repeat: no-repeat;
	background-position: center;

}
<<<<<<< HEAD
=======
table th{
	font-size: 10%;
	color: yellow;
}
>>>>>>> f226a7cd31a2fe376415989558ec6cfde0fdb155
